/* MARK: Basics 
/*  */
:root {
    --candle-height: 10em;
}

html{
    position: relative;
}
body {
    overflow: clip;
    
    main {
        margin-top: var(--candle-height);

    }
}






/* MARK: Candle 
/*  */
.candle-container {
    z-index: 1;
    position: absolute;
    top: calc(var(--candle-height) / 2);
    right: 0;
    place-self: end;
    display: grid;
    height: var(--candle-height);
    aspect-ratio: 1/1;
    grid-template-rows: 2fr 1fr;

    .holder {
        display: grid;
        grid-template-rows: 1fr 2fr;

        .plate {
            width: 80%;
            justify-self: center;
            background: linear-gradient(90deg, rgb(92, 58, 3), rgb(220, 180, 121) 30%, rgb(92, 58, 3)70%);
            border-radius: 10% 10% 100% 100%;
        }

        .thingy {
            position: relative;
            place-self: center;
            height: 100%;
            width: 1em;
            background: linear-gradient(90deg, rgb(92, 58, 3), rgb(220, 180, 121) 30%, rgb(92, 58, 3)70%);

            &::after {
                position: absolute;
                z-index: -1;
                content: "";
                width: calc(var(--candle-height)/2);
                height: calc(100%/3);
                background: linear-gradient(90deg, rgb(92, 58, 3) 20%, rgb(220, 180, 121) 60%, rgb(92, 58, 3));
                bottom: 0;
            }
        }
    }

    .candle {
        display: grid;
        place-items: center;
        height: 100%;
        grid-template-rows: 1fr 5fr;

        .wick {
            height: 100%;
            width: .3em;
            background: linear-gradient(90deg, black, silver, black);
        }

        .candle-body {
            background: linear-gradient(90deg, rgb(188, 161, 121), beige 25%, white, rgb(188, 161, 121));
            height: 100%;
            aspect-ratio: 1/2;
        }
    }
    .flame {
        position: absolute;
        height: calc(var(--candle-height)/4);
        aspect-ratio: 2/5;
        border-radius: 50%;
        top: calc(0% + calc(var(--candle-height)/3));
        place-self: center;
        transform: translateY(calc(var(--candle-height) * -0.5));
        transform-origin: bottom;
        background: radial-gradient(ellipse at 50% 70%,
            yellow 0%,
            orange 20%,
            orangered 35%,
            transparent 80%,
            transparent 100%);
        animation: flicker 3s infinite ease-in-out alternate-reverse;
        
    }
}

.glow {
    position: absolute;
    pointer-events: none;
    height: 200%;
    width: 200%;
    display: block;
    background: radial-gradient(
        circle 50vmax, /* https://www.sitepoint.com/css-viewport-units-quick-start/ */
        transparent,
        var(--darker-bg) 65%);
    transform: translate(-5%, -50%);
}


@keyframes flicker {
    0% {
        scale: 1 1;
    }

    50% {
        scale: 1.15 0.95;
    }

    100% {
        scale: 0.95 1;
    }
}





/* MARK: Articles */
/*  */
article{
    margin-bottom: var(--article-spacing);
    time{
        font-family: var(--header-font);
    }

    h3{
        margin-top: 1em;
    }
}
