:root {
    --orange-height: clamp(4rem, 10vw, 5rem)
}

html {
    height: 100vh;
}

body {
    background-color: var(--sky-clr);
    height: 100%;
    padding: 0;
}

main {
    display: grid;
    grid-template-rows: var(--header-size) 1fr;
    gap: 2em;
    place-items: center;
    min-height: 80vh
}


/* MARK: Boom */
fieldset {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 3fr;
    border: none;
    height: 100%;
    width: 100%;

    legend {
        position: absolute;
        top: 0;
        transform: translateY(-10000%);
    }

    .leaves {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: light-dark(#517030, #3E5526);
        border-radius: 40% 60% 55% 45% / 55% 45% 55% 45%;
        grid-area: 1 / 1 / 4 / 4;
        z-index: -1;
        box-shadow:
            inset 10px -20px 30px rgba(0, 0, 0, 0.30),
            inset -10px 10px 25px rgba(255, 255, 255, 0.15);
    }

    .trunk {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: light-dark(#764e32, #5c3b24);
        grid-area: 3/2/5/3;
        border-radius: 20% 20% 0% 0%;
        transform: translateY(10px);
        background:
            linear-gradient(90deg,
                light-dark(#6d4b33, #3a2618),
                light-dark(#764e32, #442b1a),
                light-dark(#8b6041, #523723));
    }



    input[type="radio"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked+label {
            animation: fall-and-bounce .5s forwards;
            animation-iteration-count: 1;
        }
    }

    .orange {
        font-size: var(--orange-height);
        text-box: trim-both cap alphabetic;
        cursor: pointer;
        transition: transform .2s;
        position: absolute;
        align-self: end;
        bottom: auto;

        &:nth-of-type(1) {
            top: 100px;
            left: 80px;
            anchor-name: --goal-one;
        }

        &:nth-of-type(2) {
            top: 250px;
            left: 160px;
            anchor-name: --goal-two;
        }

        &:nth-of-type(3) {
            top: 120px;
            right: 70px;
            anchor-name: --goal-three;
        }
    }

    .orange:hover,
    .orange:focus-visible {
        transform: scale(1.08);
        filter: brightness(1.1);
    }

    dialog {
        position: absolute;
        background-color: #ffefceaa;
        border-radius: 1.5rem;
        border: none;
        padding: 1em;
        margin-bottom: var(--orange-height);
        position-area: span-top right;
        pointer-events: none;
        z-index: 100;

        & * {
            color: #3E5526;
        }

        & h2 {
            font-size: var(--header-size-small);
        }

        /* https://css-tricks.com/css-anchor-positioning-guide/ */
        &:nth-of-type(1) {
            position-anchor: --goal-one;
        }

        &:nth-of-type(2) {
            position-anchor: --goal-two;
        }

        &:nth-of-type(3) {
            position-area: span-top left;
            position-anchor: --goal-three;
        }
    }
}

.ground {
    position: absolute;
    height: var(--orange-height);
    width: 100%;
    background-color: light-dark(#517030, #3E5526);
    background:
        radial-gradient(circle at 20% 0%, rgba(255, 255, 255, 0.1), transparent 40%),
        radial-gradient(circle at 80% 0%, rgba(0, 0, 0, 0.15), transparent 50%),
        light-dark(#4a6b2d, #2f3f1d);

    border-radius: 40% 40% 0 0;
}

.sun {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em;
    width: calc(var(--orange-height)*3);
    aspect-ratio: 1/1;
    background-image: url(../images/sun.svg);
    /* https://staging.svgrepo.com/svg/53719/sun?edit=true */
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate 30s linear infinite;
    z-index: -10;

    @media (prefers-color-scheme: dark) {
        margin-top: 2em;
        animation: float 4s linear infinite;
        background-image: url(../images/moon.png);
        /*https://www.svgheart.com/product/moon-and-stars-silhouette-free-svg-file/?srsltid=AfmBOorV6JT9271IjXewzvthoxJ44FodRm2VTLnifpB46g8g9L4PR1HM*/
    }
}


@media (min-width: 650px) {
    main {
        place-items: start;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr
    }
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes fall-and-bounce {
        0% {
            bottom: auto;
            transform: translate(0, 0) rotate(0deg);
        }

        70% {
            bottom: 0px;
            transform: translate(0, 0) rotate(30deg);
        }

        85% {
            bottom: 30px;
            transform: translate(0, 0) rotate(70deg);
        }

        100% {
            bottom: 0px;
            transform: translate(0, 0) rotate(90deg);
        }
    }

    @keyframes rotate {
        from {
            rotate: 0;
        }

        to {
            rotate: 360deg;
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0) rotate(0);
        }

        50% {
            transform: translateY(5%) rotate(5deg);
        }

        100% {
            transform: translateY(0) rotate(0);
        }

    }
}